body {
    font-family: 'Open Sans', sans-serif;
 }
  
 a{
    z-index: 1;
 }
 h1{
    font-size: 8rem;
    /* align-items: center; */
    /* align-items: center; */
    /* justify-content: center;
    flex-direction: column; */
    position: absolute;
    bottom: 10%;
    left: 20%;
    color:black
  
   
   
 }
  
 img{
    /* width: 50rem;
    height: 50rem;
    /* align-items: center;
    flex-direction: row;
    display: inline-block; */ */
 }
 .background{
    background-position: center center;
    display: flex;
    scale: 100%;
 }

 .opacity {
   opacity: 0;
   /* left: 50%; */
   width:180px;
 }

  #img1{
    position: absolute;
    top: 5%;
    left: 50%;
 }

  #img2{
   position: absolute;
   top: 30%;
   right: 55%;
   padding-left: 6%;
} 

#img3{
   position: absolute;
   top: 10%;
   left: 20%;
}  

#img4{
   position: absolute;
   top: 20%;
   left: 25%;
}  

#img7{
   position: absolute;
   top: 10%;
   right: 5%;

} 

#img8{
   position: absolute;
   top: 20%;
   right: 25%;

} 




 /* .opacity{
    opacity: 0;
 }

 #img1{
   
    position: absolute;
    top: 5%;
    left:10%;
    z-index:-1;} */

 